// =====================================
//
//   Button
//   -> mixins, functions, extends, animations
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

$btn-fontSize-default: 16px;
$btn-fontSize-l: 21px;
$btn-fontSize-xl: 24px;


// -------------------------------------
//   Functions
// -------------------------------------

button {
  appearance: none;
  border: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.btn-round {
  display: inline-block;
  padding: 0 $b-space-3;
  line-height: 2;
  border-radius: $btn-fontSize-default;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;

  &.btn-orange {
    color: $white;
    background-color: $brand350-gold-orange0;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }

  &.btn-red-orange {
    color: $white;
    background-color: $brand350-red-orange0;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
}

/* Button XL */

.btn-round {
  &.btn-l {
    font-size: $btn-fontSize-l;
    border-radius: $btn-fontSize-l;
  }

  &.btn-xl {
    font-size: $btn-fontSize-xl;
    border-radius: $btn-fontSize-xl;
    font-weight: bold;
  }
}