// =====================================
//
//   Button
//   -> mixins, functions, extends, animations
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

$btn-fontSize-default: 14px;
$btn-fontSize-xl: 24px;

$btn-height-default: 36px;
$btn-height-xl: 54px;


// -------------------------------------
//   Functions
// -------------------------------------

button {
  appearance: none;
  border: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.btn-round {
  display: inline-block;
  padding: 0 $b-space-3;
  line-height: $btn-height-default/$btn-fontSize-default;
  border-radius: $btn-height-default/2;
  font-family: $b-fontFamily-klima;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $btn-fontSize-default;

  &.btn-orange {
    color: $white;
    background-color: $brand350-gold-orange0;
  }

  &.btn-red-orange {
    color: $white;
    background-color: $brand350-red-orange0;
  }
}

/* Button XL */

.btn-round {
  &.btn-xl {
    font-size: $btn-fontSize-xl;
    border-radius: $btn-height-xl/2;
    line-height: $btn-height-xl/$btn-fontSize-xl;
  }
}