// =====================================
//
//   Footer
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

$footer-branding-col-width: 480px;
$footer-nav-col-width: 320px;

// -------------------------------------
//   Base
// -------------------------------------

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  & > * {
    flex: 0 0 $footer-branding-col-width;
    margin-bottom: $g-gap;
  }
}

.footer-branding {
  .footer-logo-link {
    display: block;
    background: url('./images/logo-350brooklyn-blue-white.svg') $clear no-repeat center center;
    width: 180px;
    height: 22px;
  }
}

.footer-power-nav {
  flex-basis: $footer-nav-col-width;
}

.power-nav-list {
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 1 0 50%;
    margin-bottom: $b-space-4;
  }

  .power-nav-link {
    color: $white;
    text-decoration: none;
    font-weight: bold;
  }
}

@media (min-width: $g-m) {
  .footer-power-nav {
    padding-top: 22px;
  }
}

@media (min-width: $g-s) {
  .power-nav-list li {
    margin-bottom: $b-space-2;
  }
}
