// =====================================
//
//   Thumbnail List - sxs
//   grid-wrapper variant
//
// =====================================

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   CONTENT :: Thumbnail List
// -------------------------------------

.thumb-list-item-sxs {
  display: grid;
  grid-template-columns: 108px 256px 1fr;
  grid-gap: $g-gap;
  align-items: start;
  justify-items: start;
  margin-bottom: $b-space-5;
}

.event-details span {
  display: block;
  margin-bottom: $b-space-1;
}

.event-details .event-date {
  font-size: $b-fontSize;
  color: $brand350-blue0;
  font-weight: bold;
}